header {
  margin: 1.5rem;
}
header h1, h2 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  min-width: 500px;
  justify-content: space-between;
  margin: 0 1rem;
}

section {
  flex: 0 0 32%;
}

.upload {
  flex-basis: 100%;
  text-align: center;
}
