header {
  margin: 1.5rem;
}
header h1 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  min-width: 500px;
  max-width: 80vw;
  justify-content: space-evenly;
}

section {
  flex 0 0 50%;
}