header {
  margin: 1.5rem;
}
header h1, h2 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  min-width: 500px;
  justify-content: space-between;
  margin: 0 1rem;
}

section {
  flex: 0 0 32%;
}

.upload {
  flex-basis: 100%;
  text-align: center;
}

/* Table */

table {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 90%;
}

th {
  text-align: center;
  border: 1px solid #000;
  background-color: #ccc;
  padding: 0.5rem;
  font-size: 1.1rem;
}

td {
  border: 1px solid #000;
  padding: 0.3rem;
  text-align: center;
}

td.part {
  font-weight: bold;
}
